.brand {
    @include span(12 of 12);
    padding: rhythm(3, 16px) span(1 of 12) 0;
    & p {
        text-align: center;
    }
    &-logo {
        height: rhythm(6.5, 16px);
        margin: rhythm(1, 16px) span(3 of 12);
    }
    &-strong {
        font-weight: 600;
        &-name {
            font-weight: 600;
        }
    }

    @include susy-breakpoint($bp-medium, $columns-medium) {
        @include span(18 of 18);
        padding: rhythm(3, 16px) span(3 of 18) 0;
        &-logo {
            margin: rhythm(1, 16px) span(6 of 18) rhythm(1, 16px) span(7 of 18);
        }
    }

    @include susy-breakpoint($bp-large, $columns-large) {
        @include span(24 of 24);
        @include gutters(4em inside);
        padding: rhythm(1, 16px) 0 0;
        &-logo {
            // max-width: span(2.65 of 24);
            width: 155px;
            margin: 0 auto;
        }
        &-strong {
            @include adjust-font-size-to(21px);
            &-name {
                @include adjust-font-size-to(32px);
            }
        }
        & p {
            color: $white;
        }
    }
}

.contact {
    text-align: center;
    &-image {
        cursor: pointer;
        display: inline-block;
        width: 60px;
        height: 60px;
        margin: 0 gutters(12) rhythm(1, 16px);
        background-color: rgba($green, .1);

        @include susy-breakpoint($bp-large, $columns-large) {
            background-color: transparent;
        }
    }
}