.brand {
    @include span(12 of 12);
    padding: rhythm(3.25, 16px) span(1 of 12) 0;
    @include lob-owl();
    text-align: center;
    &-logo {
        height: rhythm(6.5, 16px);
        margin: rhythm(1, 16px) span(3 of 12);
    }
    &-strong {
        font-weight: 600;
        &-name {
            @include adjust-font-size-to(32px);
            margin-top: rhythm(.5, 16px);
        }
    }

    @include susy-breakpoint($bp-medium, $columns-medium) {
        @include span(18 of 18);
        &-logo {
            margin: rhythm(1, 16px) span(6 of 18) rhythm(1, 16px) span(7 of 18);
        }
    }

    @include susy-breakpoint($bp-largish, $columns-largish) {
        position: fixed;
        @include span(24 of 24 no-gutters);
        height: 100%;
        padding: 0;
        background-size: 100% 120%;
        overflow: hidden;
        z-index: 10;
        color: $white-text;
        @include transition(all 1.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.25s);
        &-clicked {
            height: 25%;
            background-size: 100% 0.5%;
            background-color: lighten($black, 15%);
            border-bottom: .1em solid $black;
        }
        &-logo {
            display: none;
        }
        &-strong {
            @include adjust-font-size-to(21px);
            @include translate3d(0, 0, 0);
            @include transition(all 0.75s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s);
            &-clicked {
                @include translate3d(100%, 0, 0);
            }
            &-name {
                @include adjust-font-size-to(64px);
                margin-top: 0;
                margin-left: -2em;
                padding-bottom: rhythm(.25, 16px);
                @include translate3d(0, 0, 0);
                @include transition(all 1.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.25s);
                &-clicked {
                    @include translate3d(-10%, -50%, 0);
                }
                &:before {
                    content: "";
                    display: inline-block;
                    background: url("/images/apple-touch-icon-114x114.png");
                    height: 114px;
                    width: 114px;
                    @include translate(-10%, 35%);
                }
            }
        }
        &-content {
            &:first-of-type {
                margin-top: rhythm(1, 16px);
            }
            @include translate3d(0, 0, 0);
            @include transition(all 0.75s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.25s);
            &-clicked {
                @include translate3d(100%, 0, 0);
            }
        }
        &:before {
            content: " ";
            background: url("/images/desktop.jpg");
            background-size: inherit;
            background-repeat: no-repeat;
            position: absolute;
            z-index: -3;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
        }
        &:after {
            content: "";
            background: linear-gradient(to bottom, $black, rgba($black, 0));
            position: absolute;
            z-index: -1;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
        }
    }

    @include susy-breakpoint($bp-large, $columns-large) {
        &-clicked {
            height: 20%;
        }
        &-content {
            &:first-of-type {
                margin-top: rhythm(3, 16px);
            }
        }
        &-strong {
            &-name {
                &-clicked {
                    @include translate3d(-20%, -70%, 0);
                }
            }
        }
    }
}

.contact {
    text-align: center;
    @include translate3d(0, 0, 0);
    @include transition(all 0.75s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.0s);
    &-clicked {
        @include translate3d(100%, 0, 0);
    }
    &-image {
        cursor: pointer;
        display: inline-block;
        width: 60px;
        height: 60px;
        margin: 0 gutters(12);
        opacity: .5;
        &:hover {
            opacity: .75;
        }
    }
    &:after {
        content: "phone";
        //this used to be display:none, but the position:absolute must remain Chrome respects the specification
        display: block;
        position: absolute;
        top: 0;
        left: -10000px;
        @include susy-breakpoint($bp-medium, $columns-medium) {
            content: "tablet";
        }
        @include susy-breakpoint($bp-largish, $columns-largish) {
            content: "laptop";
        }
        @include susy-breakpoint($bp-large, $columns-large) {
            content: "desktop";
        }
    }
}

.read {
    display: none;
    @include susy-breakpoint($bp-largish, $columns-largish) {
        display: block;
        position: absolute;
        top: 0;
        right: 2%;
        cursor: pointer;
        padding: rhythm(.75, 16px) rhythm(.25, 16px);
        border: .15em solid rgba($white-text, .5);
        border-radius: 50%;
        background-color: rgba($white-text, .10);
        @include translate3d(0, 0, 0);
        @include transition(all 0.75s cubic-bezier(0.250, 0.460, 0.450, 0.940));
        &:hover {
            border: .15em solid rgba($white-text, .95);
            @include box-shadow(0px 0px 7px 3px rgba($white-text, .3));
        }
        &-text {
            @include adjust-font-size-to(10px);
            margin: 0;
        }
        // &-clicked {
        //     @include translate3d(300%, 0, 0);
        // }
    }
}