.container {
    background-color: transparent;
    @include span(12 of 12);
    @include lob-owl();
    margin-top: rhythm(1, 16px);
    padding: 0 span(1 of 12);
    @include susy-breakpoint($bp-medium, $columns-medium) {
        @include span(18 of 18);
        padding: 0 span(3 of 18);
    }
    @include susy-breakpoint($bp-large, $columns-large) {
        @include span(24 of 24);
        margin-top: 0px;
        padding: rhythm(8, 16px) span(4 of 24);
        background-color: rgba($white, .94);
    }
}