.hero-site {
    @include lob-owl();
    text-align: center;
    @include span(12 wide of 12);
    &-client {
        margin: 0;
        padding: rhythm(.25, 16px) 0;
        border-top: .1em solid $green;
        border-bottom: .1em solid $green;
    }
    &-describe {
        @include adjust-font-size-to(12px);
    }
    &-image {
        height: rhythm(6.5, 16px);
        max-width: 250px;
        margin: rhythm(1, 16px) auto 0;
        &-webapp {
            height: rhythm(6.5, 16px);
            max-width: 115px;
            margin: 0 auto;
        }
        &-simple {
            height: rhythm(6.5, 16px);
            max-width: 217px;
            margin: 0 auto;
        }
    }
    &-button {
        // @extend %buttons;
        &-link {
        @extend %buttons;
            text-decoration: none;
            color: $black;
        }
    }

    @include susy-breakpoint($bp-medium, $columns-medium) {
        @include span(18 of 18);
        &-image {
            margin: rhythm(1, 16px) auto 0;
            &-webapp {
                margin: rhythm(1, 16px) auto 0;
            }
            &-simple {
                margin: rhythm(1, 16px) auto 0;
            }
        }
    }

    @include susy-breakpoint($bp-large, $columns-large) {
        @include span(12 of 24);
        margin-right: 0;
        margin-left: 0;
        &-client {
            margin: 0 span(1 of 24);
        }
        &-button {
            @include span(8 of 24);
            margin: rhythm(1, 16px) span(8 of 24);
        }
    }
}