.hero-site {
    @include span(12 of 12);
    text-align: center;
    &-client {
        padding: rhythm(.25, 16px) 0;
        border-top: .1em solid $green;
        border-bottom: .1em solid $green;
    }
    &-describe {
        @include adjust-font-size-to(12px);
    }
    &-image {
        height: rhythm(6.5, 16px);
        max-width: span(10.75 of 12);
        margin: 0 auto;
        &-webapp {
            height: rhythm(6.5, 16px);
            max-width: span(5 of 12);
            margin: 0 auto;
        }
        &-simple {
            height: rhythm(6.5, 16px);
            max-width: span(9.5 of 12);
            margin: 0 auto;
        }
    }
    &-button {
        @extend %buttons;
        @extend %buttons-green;
    }

    @include susy-breakpoint($bp-medium, $columns-medium) {
        @include span(18 of 18);
        &-image {
            margin: rhythm(1, 16px) span(6 of 18) rhythm(1, 16px) span(5.5 of 18);
            &-webapp {
                margin: rhythm(1, 16px) span(8 of 18) rhythm(1, 16px) span(7.5 of 18);
            }
            &-simple {
                margin: rhythm(1, 16px) span(6.25 of 18) rhythm(1, 16px) span(6.25 of 18);
            }
        }
    }

    @include susy-breakpoint($bp-large, $columns-large) {
        @include span(12 of 24);
        margin-right: 0;
        margin-left: 0;
        &-client {
            margin: 0 span(1 of 24);
        }
        &-image {
            max-width: span(5.25 of 12);
            &-webapp {
                max-width: span(5 of 24);
            }
            &-simple {
                max-width: span(5 of 12);
            }
        }
        &-button {
            @include span(8 of 24);
            margin: rhythm(1, 16px) span(8 of 24);
        }
    }
}