.story {
    @include span(12 of 12);
    padding: 0 span(1 of 12);
    text-align: center;
    &-header {
        @extend %section-header;
        @include bleed-x(1em);
    }
    &-link {
        color: $green;
    }
    &-services {
        font-weight: 600;
    }

    @include susy-breakpoint($bp-medium, $columns-medium) {
        @include span(18 of 18);
        padding: rhythm(1, 16px) span(3 of 18) 0;
        &-header {
            @include bleed-x(6.55em);
        }
    }

    @include susy-breakpoint($bp-large, $columns-large) {
        @include span(24 of 24);
        padding: rhythm(1, 16px) span(4 of 24) 0 span(4 of 24);
        p {
            padding: 0 span(1 of 24);
            color: $black-text;
            &:nth-of-type(1) {
                text-align: left;
            }
            &:last-child {
                text-align: left;
            }
        }
    }
}