.story {
    @extend %lobotomize;
    & p {
        text-align: center;
    }
    &-header {
        @extend %section-header;
    }
    &-link {
        color: $green;
    }
    &-services {
        font-weight: 600;
    }

    @include susy-breakpoint($bp-medium, $columns-medium) {
        &-header {
            @include bleed-x(6.55em);
        }
    }

    @include susy-breakpoint($bp-large, $columns-large) {
        margin-top: rhythm(1, 16px);
        p {
            padding: 0 span(1 of 24);
            color: $black-text;
            &:nth-of-type(1) {
                text-align: left;
            }
        }
    }
}