%buttons {
    padding: rhythm(.5, 16px) 0;
    margin-bottom: rhythm(1, 16px);
    margin-left: span(2 of 12);
    margin-right: span(2 of 12);
    border: .12em solid $green;
    border-radius: .15em;
    @include box-shadow(0 0 3px 1px rgba($black, .2));
    text-align: center;
    &:hover {
        @include background-image(linear-gradient(rgba(lighten($green, 13%), .25), rgba($green, .5)));
    }
    @include susy-breakpoint($bp-medium, $columns-medium) {
        @include span(10 of 18);
        margin-left: span(4 of 18);
        margin-right: span(4 of 18);
    }
}

%cross-hatch {
    background: $white;
    // courtesy: https://gist.github.com/kconragan/2501349 hatch pattern w/CSS
    background-image: linear-gradient(rgba(0, 0, 0, .018) 1px, transparent 1px), linear-gradient(0, rgba(0, 0, 0, .018) 1px, transparent 1px);
    background-size: 5px 5px;
    background-position:-1px -1px, -1px -1px;
}

%section-header {
    margin: 0;
    padding: rhythm(.5, 16px) 0;
    @include bleed-x(.85em);
    text-align: center;
    font-weight: normal;
    border-top: .07em solid $green;
    border-bottom: .07em solid $green;
    background-color: rgba($green, .04);

    @include susy-breakpoint($bp-large, $columns-large) {
        margin-right: 0;
        margin-left: 0;
        text-align: left;
    }
}
