%buttons {
    @include span(12 of 12);
    padding: rhythm(.5, 16px) 0;
    margin-bottom: rhythm(1, 16px);
    text-decoration: none;
    text-align: center;
    border: .1em solid rgba($black, .5);
    border-radius: .25em;
    @include box-shadow(.06em .1em  0 0 rgba($white, .1) inset);
    @include susy-breakpoint($bp-medium, $columns-medium) {
        @include span(6 of 18);
        margin: 0 span(6 of 18) rhythm(1, 16px);
    }
}

%buttons-green {
    @include background-image(linear-gradient(lighten($green, 13%), $green));
    color: $black;
}

%buttons-grey {
    @include background-image(linear-gradient(lighten($black, 30%), lighten($black, 10%)));
    color: $white;
}

%cross-hatch {
    background: $white;
    // courtesy: https://gist.github.com/kconragan/2501349 hatch pattern w/CSS
    background-image: linear-gradient(rgba(0, 0, 0, .018) 1px, transparent 1px), linear-gradient(0, rgba(0, 0, 0, .018) 1px, transparent 1px);
    background-size: 5px 5px;
    background-position:-1px -1px, -1px -1px;
}

%section-header {
    margin-top: 0;
    padding: rhythm(.5, 16px) 0;
    @include bleed-x(.85em);
    text-align: center;
    font-weight: normal;
    border-top: .07em solid $green;
    border-bottom: .07em solid $green;
    background-color: rgba($green, .04);

    @include susy-breakpoint($bp-large, $columns-large) {
        margin-right: 0;
        margin-left: 0;
        text-align: left;
    }
}
