$tools-layout: smart;
@import "tools/*.png";
@include all-tools-sprites;

$sites-layout: smart;
@import "sites/*.png";
@include all-sites-sprites;

$contact-layout: smart;
@import "contact/*.png";
@include all-contact-sprites;