        <section class="brand">
            <div class="tools-moosedog brand-logo"></div>
            <p>In some parts of Vermont,  I'm referred to as</p>
            <p class="brand-strong-name">MooseDog Studios,</p>
            <p>in other parts as</p>
            <p class="brand-strong">Robin Hoover</p>
            <p>It really doesn't matter to me, for you see, up here...</p>
            <p class="brand-strong">convention always takes a back seat to quality.</p>
            <div class= contact>
            <a href= "mailto:robin.hoover@gmail.com?subject=Initial%20Contact" class="contact-mail contact-image"></a>
            <a href ="https://github.com/rhoover?tab=repositories" class="contact-github contact-image" target="_blank"></a>
            <a href="https://twitter.com/robinhoover" class="contact-twitter contact-image" target="_blank"></a>
            </div>
        </section>
        <section class="container-large">
            <section class="story">
                <h2 class="story-header">What's Going On Here:</h2>
                <p>I am an independent web designer, creator and front-end developer, easy to <a href="mailto:robin.hoover@gmail.com?subject=Initial%20Contact" class="story-link">reach</a> and easy to talk with, <span class="story-services">specializing in 100% custom sites for your small or medium sized business or organization:</span>
                <p>full-on, custom, Content Management Systems,</p>
                <p>digital branding and customer-facing information,</p>
                <p>interactive web-based applications.</p>
                <p>All created from the ground up to seamlessly deal with the flood of different gadgets your audience is using to access the web:<span class="story-services"> Performance Is A Feature.</span></p>
            </section>
            <section class="work">
                <h2 class="work-header">Folio:</h2>
                <div  class="hero-site">
                    <p class="hero-site-client">Vermont Brewers Association</p>
                    <p class="hero-site-describe">~Web Site~</p>
                    <div class="sites-vba hero-site-image"></div>
                    <p class="hero-site-describe">(100% custom Wordpress CMS, flexible, responsive, mobile-ready)</p>
                    <a href="http://www.vermontbrewers.com" class="hero-site-button" target="_blank">View Site</a>
                    <!-- <a href="https://github.com/rhoover/vermont-brewers" class="hero-site-button-github" target="_blank">View Site Code On GitHub</a> -->
                </div>
                <div  class="hero-site">
                    <p class="hero-site-client">Vermont Craft Beer Trail</p>
                    <p class="hero-site-describe">~Web App~</p>
                    <div class="sites-beertrail hero-site-image-webapp"></div>
                    <p class="hero-site-describe">(mobile-only, web-app, 100% custom)</p>
                    <a href="http://www.vtbeertrail.com" class="hero-site-button" target="_blank">View Site w/ Phone</a>
                    <!-- <a href="https://github.com/rhoover/" class="hero-site-button-github" target="_blank">View Site Code On GitHub</a> -->
                </div>
                <div  class="hero-site">
                    <p class="hero-site-client">Valley Forge Trail Riders</p>
                    <p class="hero-site-describe">~Web Site~</p>
                    <div class="sites-vftr hero-site-image"></div>
                    <p class="hero-site-describe">(100% custom Wordpress CMS, flexible, responsive, mobile-ready)</p>
                    <a href="http://www.vftr.org" class="hero-site-button" target="_blank">View Site</a>
                    <!-- <a href="https://github.com/rhoover/vftr" class="hero-site-button-github" target="_blank">View Site Code On GitHub</a> -->
                </div>
                <div  class="hero-site">
                    <p class="hero-site-client">Yeagers Tree Farm</p>
                    <p class="hero-site-describe">~Web Site~</p>
                    <div class="sites-yeagers hero-site-image"></div>
                    <p class="hero-site-describe">(100% custom HTML, flexible, responsive, mobile-ready)</p>
                    <a href="http://www.yeagerstrees.com" class="hero-site-button" target="_blank">View Site</a>
                    <!-- <a href="https://github.com/rhoover/YeagersTreeFarm" class="hero-site-button-github" target="_blank">View Site Code On GitHub</a> -->
                </div>
                <div  class="hero-site">
                    <p class="hero-site-client">Prohibition Pig</p>
                    <p class="hero-site-describe">~Web Site~</p>
                    <div class="sites-propig hero-site-image-simple"></div>
                    <p class="hero-site-describe">(Customized Wordpress CMS, flexible)</p>
                    <a href="http://www.prohibitionpig.com" class="hero-site-button" target="_blank">View Site</a>
                </div>
                <div  class="hero-site">
                    <p class="hero-site-client">PowerSealUSA</p>
                    <p class="hero-site-describe">~Web Site~</p>
                    <div class="sites-powerseal hero-site-image-simple"></div>
                    <p class="hero-site-describe">(Customized Wordpress CMS)</p>
                    <a href="http://www.powersealusa.com" class="hero-site-button" target="_blank">View Site</a>
                </div>
                <div  class="hero-site">
                    <p class="hero-site-client">Hudson-Chatham Winery</p>
                    <p class="hero-site-describe">~Web Site~</p>
                    <div class="sites-hudson hero-site-image-simple"></div>
                    <p class="hero-site-describe">(Customized Wordpress CMS)</p>
                    <a href="http://www.hudson-chathamwinery.com" class="hero-site-button" target="_blank">View Site</a>
                </div>
            </section>
            <section class="tools">
                <h2 class="tools-header">There's Always Tools:</h2>
                <div class="tool">
                    <a href="https://wordpress.org/" title="Wordpress for Content Management" target="_blank" class="tools-wordpress tool-image"></a>
                    <p class="tool-describe">Wordpress:  The web-world's most used Content Management System.  Not an accident.</p>
                </div>
                <div class="tool">
                    <a href="http://www.w3schools.com/html/html5_intro.asp" title="HTML 5 for Modern" target="_blank" class="tools-html5 tool-image"></a>
                    <p class="tool-describe">HTML5 Markup Language:  Why wouldn't you use the most modern available?</p>
                </div>
                <div class="tool">
                    <a href="http://compass-style.org/" title="Compass for CSS" target="_blank" class="tools-compass tool-image"></a>
                    <p class="tool-describe">Compass: The first and best CSS pre-processor, bringing logic and power to your stylings.</p>
                </div>
                <div class="tool">
                    <a href="http://susy.oddbird.net/" title="Susy for Better Grids" target="_blank" class="tools-susy tool-image"></a>
                    <p class="tool-describe">Susy:  Clean, semantic layout code, high-powered math under the hood.  Everyone wins.</p>
                </div>
                <div class="tool">
                    <a href="http://angularjs.org/" title="AngularJS for Interactive" target="_blank" class="tools-angularjs tool-image"></a>
                    <p class="tool-describe">AngularJS:  The explosively popular Javascript Library that lets you code in common sense.</p>
                </div>
                <div class="tool">
                    <a href="http://yeoman.io/" title="Yeoman for Creation" target="_blank" class="tools-yeoman tool-image"></a>
                    <p class="tool-describe">Yeoman:  Scaffolding a web project is no longer an exercise in pain.</p>
                </div>
                <div class="tool">
                    <a href="http://bower.io/" title="Bower For Updating" target="_blank" class="tools-bower tool-image"></a>
                    <p class="tool-describe">Bower:  Why wouldn't you ensure up-to-date software and libraries?</p>
                </div>
                <div class="tool">
                    <a href="http://gruntjs.com/" title="Grunt for Building" target="_blank" class="tools-grunt tool-image"></a>
                    <p class="tool-describe">Grunt: Because production code is not development code; end-users depend on these tasks being run.</p>
                </div>
            </section>
        </section>